'use strict'

const config = {
    auth: {
        login: 'admin',
        password: '123456',
    },
    server: {
        host: 'localhost',
        port: 8001,
    },
    mongo: {
        host: "localhost",
        db: "spam",
        options: {
            useMongoClient: true,
            poolSize: 10,
        }
    },
    SMS: {
        SIM5: {
            API_KEY: "some apy key from 5sim.net"
        },
        SIMSms: {
            API_KEY: "some apy key from simsms.org"
        },
        SMSActivate: {
            API_KEY: "some apy key from sms-activate.ru"
        }
    },
    log: {
        mongo: true,
        console: true
    }
}

export default config